<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <script src="{{ url_for('static', filename='htmx.min.js') }}"></script>
  <title>Obtener las opiniones de los profesores (UNI)</title>
</head>
<body>
  {% from 'sessions_fragments.html' import all_sessions %}
    <main class="flex flex-col gap-1 font-[sans-serif]">
      {% if fragment == 'all_sessions' %}
        {{ all_sessions(sessions, hours, days) }}
      {% else %}
      <h2 class="self-center font-bold text-2xl">Inserta el archivo</h2>
        <form class="self-center flex flex-col gap-1">
          <label for="sessions-file-input" class="self-center">Selecciona tu archivo de secciones</label>
          <input type="file" accept=".csv" name="sessions_file" class="border-2 p-1.5 rounded-xl">
          <button 
            hx-post="/send-file"
            hx-encoding="multipart/form-data"
            hx-target="main"
            hx-push-url="/sessions"
            type="submit"
            class="self-center bg-blue-300 w-32 rounded-2xl"
            >Enviar
          </button>
        </form>
      <em class="self-center font-bold text-xs">Tu archivo será borrado después de 7 días</em>
      {% endif %}
    </main>
</body>
</html>
